* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #6f4e37;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;

}
.preloader .loader {
  position: relative;
  width: 150px;
  height: 200px;
}
.preloader .loader .smoke {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
}
.preloader .loader .smoke div {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0;
}
.preloader .loader .smoke div:nth-child(1) {
  left: 20px;
  animation: loader-smoke-1 3s linear infinite;
  animation-delay: 0s;
}
.preloader .loader .smoke div:nth-child(2) {
  left: 40px;
  animation: loader-smoke-2 3s linear infinite;
  animation-delay: 0.2s;
}
.preloader .loader .smoke div:nth-child(3) {
  left: 60px;
  animation: loader-smoke-3 3s linear infinite;
  animation-delay: 0.4s;
}
.preloader .loader .smoke div:nth-child(4) {
  left: 100px;
  animation: loader-smoke-4 3s linear infinite;
}
@keyframes loader-smoke-1 {
  from {
    bottom: 0;
    transform: scale(1);
    opacity: 1;
    filter: blur(5px);
  }
  to {
    bottom: 100%;
    transform: scale(3);
    opacity: 0;
    filter: blur(10px);
  }
}
@keyframes loader-smoke-2 {
  from {
    bottom: 0;
    left: 40px;
    transform: scale(1);
    opacity: 1;
    filter: blur(5px);
  }
  to {
    bottom: 100%;
    transform: scale(3);
    left: 120px;
    opacity: 0;
    filter: blur(10px);
  }
}
@keyframes loader-smoke-3 {
  0% {
    bottom: 0;
    left: 60px;
    transform: scale(1);
    opacity: 1;
    filter: blur(10px);
  }
  50% {
    left: 120px;
  }
  100% {
    bottom: 100%;
    transform: scale(3);
    left: 40px;
    opacity: 0;
    filter: blur(20px);
  }
}
@keyframes loader-smoke-4 {
  from {
    bottom: 0;
    left: 100px;
    transform: scale(1);
    opacity: 1;
    filter: blur(5px);
  }
  to {
    bottom: 100%;
    transform: scale(3);
    left: 0;
    opacity: 0;
    filter: blur(10px);
  }
}
.preloader .loader .cup {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: #fff;
  box-shadow: inset 10px 10px 25px 3px #ddd;
  border-radius: 0 0 50% 50%;
}
.preloader .loader .cup .body {
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #331906;
  border: 5px solid #fff;
  z-index: 1;
  border-radius: 50%;
}
.preloader .loader .cup .plate {
  position: absolute;
  top: calc(100% - 10px);
  width: 100%;
  height: 20px;
  border-radius: 50%;
  z-index: -1;
  background-color: #eee;
  box-shadow: inset 5px 5px 10px 1px #ccc;
}
.preloader .loader .cup .hand {
  position: absolute;
  left: 103%;
  top: 10px;
  height: 80px;
  width: 50px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  transform: rotate(50deg);
  transform-origin: top center;
  z-index: -1;
}
